{% extends 'base.html.twig' %}
{% block body %}
    <h4>Technology</h4>
    {{ jsonData.content.node.uri|raw }}
    <h1>{{ jsonData.content.node.title }}</h1>
    <p>{{ jsonData.content.node.body.summary }}</p>
    {{ jsonData.content.node.body.value|raw }}
    {{ jsonData.content.node.field_byline[0].body.value|raw }}
{% endblock %}

